
.gasPricesContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.gasPricesContainer > div{
    border: solid 1px black;
    margin: 10px;
    border-radius: 5px;
    padding: 4px;
    background-color: #fcf5e5;
    inline-size: fit-content;
    width: 100%;
}

.gasPricesContainer > div:hover{
    border: solid 1px black;
    margin: 10px;
    border-radius: 5px;
    padding: 4px;
    background-color: #f7eacb;
    inline-size: fit-content;
    box-shadow: 1px 2px darkgray;
    width: 100%;
}
.slds-listbox .slds-listbox_vertical .slds-dropdown .slds-dropdown_.fluid .slds-dropdown_left{
    z-index: 100000 !important;
}

    